body, header, main, footer {
  outline: 2px solid tomato;
  outline-offset: -2px; }

ul, ol, dl {
  background-color: skyblue; }

li, dt, dd {
  background-color: lightgrey; }

a {
  background-color: pink; }
